{% include "header.html" %}

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-13 col-lg-11 col-xl-10">
            <div class="container mt-5">

                <h1>Not All Bad? Terrorism's Effect on Outward FI Stocks</h1>
                <p class="lead">The Impact of Domestic and Transnational Terrorism on Outward Foreign Direct Investment</p>
                <br>
            

                <div class="text-center">
                    <a href="https://www.dropbox.com/scl/fi/co47783i8zp490pg6aing/Max_Vorster_dissertation.pdf?rlkey=sgidy97cl9jpq7szo3dyan9p9&dl=0">
                        <button type="submit" class="btn btn-lg btn-outline-info">View entire document</button>
                    </a>
                    <!--<form action="/download_dissertation" method="post">
                        <button type="submit" class="btn btn-lg btn-outline-info">Download entire document as PDF</button>
                    </form>-->
                </div>

                <br><hr><br>

                <h2>Abstract</h2>
                <p>This paper considers the impact of terrorism on a nation's outward FDI. Using data from the Global Terrorism Dataset, UNCTAD, the World Bank, and CEPII, I use a Poisson Pseudo Maximum Likelihood regression model to find that domestic terrorism increases the outwards FDI of all nations, while terrorism as a whole reduces outwards FDI during the Cold War for non-OECD nations. The former result is hypothesised to be caused by terrorism-induced changing relative costs of domestic-based production chains and foreign-based production chains, resulting in domestic firms shifting production overseas, reflecting the open economy channel found in previous literature. The latter result is hypothesised to be as a result of increased terrorist effectiveness during the Cold War.</p>

                <br><hr><br>

                <h2>Introduction</h2>
                <p>Terrorism and foreign direct investment (FDI) are intertwined: firms investing in countries minimise risk, risk increasing with terrorism. Equivalently, the presence of multinational companies (MNCs) in a country can make its native population more likely to resort to terrorism as they may consider their country now under the influence of foreigners. </p>
                <p>The world is increasingly globalised, making global production chains more efficient. Outward FDI (OFDI) -- the level of direct investment by domestic investors in overseas -- is a tool for firms to expand profits and provide their products to a larger market. Since 1980, OFDI stocks relative to GDP have increased eightfold for OECD nations and fourfold for non-OECD nations. Despite this, the literature on terrorism's effect on FDI mostly considers either FDI inflows or net FDI (NFDI). Its effect on OFDI is interesting, since domestic firms may relocate abroad, <em>increasing</em> OFDI. Dau et al. (2018) gives Grupo Carso as an example, which successfully moved some operations abroad to reduce terrorism's risk. OFDI does not merely represent capital flight -- it is beneficial for a country, increasing local employment growth (Federico and Minerva, 2008), wit close association with high GDP, domestic savings, and FDI inflows (Bano and Tabbada, 2015).</p>
                <p>As defined by Li and Schaub (2004), terrorism is the ``use of extra-normal violence or force to obtain an ... objective through ... intimidation''. There is a distinction between domestic and transnational terrorism: domestic terrorist attack are where the perpetrators, victims, supporters, and targets are from the attacked country. Conversely, for transnational terrorism, at least one of those categories involves a party from abroad. </p>
                <p>It is established that terrorism pushes inward FDI away from developing nations, yet the effect on FDI outflows is unclear. After 9/11, U.S. FDI outflows fell, but he U.S. is an edge-case nation so no global conclusions can be drawn from Enders et al. (2006). In this study, I argue that, in some cases, terrorism at home increases OFDI as firms substitute away from terrorist-caused heightened domestic costs and towards lower cost foreign economies. </p>
                <p>Moreover, most work looks solely at transnational terrorism, not domestic, since the most used dataset is `International Terrorism: Attributes of Terrorist Events' (ITERATE). This only includes transnational terrorism and its ``near canonical'' reputation means is often seen as the only reputable source (Seehan, 2012). This is inaccurate as the Global Terrorism Database (GTD) includes <em>all</em> terrorism. Thus, my study benefits from an extension of data. </p>
                <p>First, I provide a summary of previous literature, before discussing my hypothesis in further detail. I describe my econometric model in Section 4, followed by the data, and my results. I end by discussing the robustness of my results, their limitations, and potential further work.</p>

                <br>

            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
