{% include "header.html" %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-13 col-lg-11 col-xl-10">
            <div class="container mt-5">

            <h1>Coding Portfolio</h1><br>
            <p class="lead">All links will redirect you to my GitHub repository for that project.</p><br>
            
            <div class="card mb-3">
                <h3 class="card-header">HTML/Python</h3>
                <div class="card-body">
                  <a href="https://github.com/AreaXimus1/cv-website" target="_blank">
                    <h5 class="card-title">This website</h5>
                  </a>
                </div>
                <div class="card-body">
                    <p class="card-text">I constructed this website in order to showcase my CV, as well as my portfolio of work.<br>It was coded using the Flask framework in Python, with my creating the HTML webpages using Bootstrap.<br>The website is constructed using a theme from <a href="https://bootswatch.com/lux/" target="_blank">bootswatch.com/lux</a>. It is hosted by <a href="render.com" target="_blank">Render</a>.</p><br>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://github.com/AreaXimus1/cv-website">Link</a></li>
                </ul>
            </div>

            <br>
       
            <div class="card mb-3">
                <h3 class="card-header">Python</h3>
                <div class="card-body">
                    <a href="https://github.com/AreaXimus1/watermarker" target="_blank" text-decoration="none">
                        <h5 class="card-title">Watermarker</h5>
                    </a>    
                </div>
                    <div class="text-center">
                    <a href="https://github.com/AreaXimus1/watermarker" target="_blank" >
                        <image style="object-fit: cover;" src="{{ url_for('static', filename='images/code_portfolio/Watermark.png') }}" height="200", width="95%">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">A programme which takes a background image and then overlays a watermark image on top of it, utilising the module OpenCV.<br>There are custom options like the position of the watermark, its transparency, and its size, as well as allowing the user to specify any directory they choose for either image.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://github.com/AreaXimus1/watermarker" target="_blank" >Link</a></li>
                </ul>
            </div>

            <br>
                            
            <div class="card mb-3">
                <h3 class="card-header">Python</h3>
                <div class="card-body">
                    <a href="https://github.com/AreaXimus1/noughts-and-crosses" target="_blank" text-decoration="none">
                        <h5 class="card-title">Noughts and Crosses</h5>
                    </a>    
                </div>
                    <div class="text-center">
                    <a href="https://github.com/AreaXimus1/noughts-and-crosses" target="_blank" >
                        <image style="object-fit: cover;" src="{{ url_for('static', filename='images/code_portfolio/Noughts and Crosses.png') }}" height="200", width="95%">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">A Python game of Noughts and Crosses which takes place in the console. I use a numpy array to keep track of the board.<br>It has a singleplayer mode with an AI, adding a layer of complexity above a standard two-human-player game. The AI is relatively simple - if it has two in a row, it will complete it to win, otherwise it will block the player from a three in a row, otherwise it will pick a random cell - but it presents an unexpected challenge.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://github.com/AreaXimus1/noughts-and-crosses" target="_blank" >Link</a></li>
                </ul>
            </div>

            <br>


            <div class="card mb-3">
                <h3 class="card-header">Coming soon</h3>
                <div class="card-body">
                    <a href="#" text-decoration="none" target="_blank" >
                        <h5 class="card-title">Coming soon</h5>
                    </a>    
                </div>
                    <div class="text-center">
                    <a href="#" target="_blank" >
                        <image style="object-fit: cover;" src="{{ url_for('static', filename='images/health_inequalities/area cropped.png') }}" height="200", width="95%">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Explanatory text</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" target="_blank" >Link</a></li>
                </ul>
            </div>

            <br>

            
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
