{% include "header.html" %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-13 col-lg-11 col-xl-10">
            <div class="container mt-5">

            <h1>Coding Portfolio</h1><br>
            <p class="lead">All links will redirect you to my GitHub repository for that project.</p><br>
            
            <div class="card mb-3">
                <h3 class="card-header">HTML/Python</h3>
                <div class="card-body">
                  <a href="https://github.com/AreaXimus1/cv-website" target="_blank">
                    <h5 class="card-title">This website</h5>
                  </a>
                </div>
                <div class="card-body">
                    <p class="card-text">I constructed this website in order to showcase my CV, as well as my portfolio of work.<br>It was coded using the Flask framework in Python, with my creating the HTML webpages using Bootstrap.<br>The website is constructed using a theme from <a href="https://bootswatch.com/lux/" target="_blank">bootswatch.com/lux</a>. It is hosted by <a href="render.com" target="_blank">Render</a>.</p><br>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://github.com/AreaXimus1/cv-website">Link</a></li>
                </ul>
            </div>

            <br>
            
                            
            <div class="card mb-3">
                <h3 class="card-header">Coming soon</h3>
                <div class="card-body">
                    <a href="{{ url_for('health_inequalities') }}" text-decoration="none">
                        <h5 class="card-title">Coming soon</h5>
                    </a>    
                </div>
                    <div class="text-center">
                    <a href="{{ url_for('health_inequalities') }}">
                        <image style="object-fit: cover;" src="{{ url_for('static', filename='images/health_inequalities/area cropped.png') }}" height="200", width="95%">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">Explanatory text</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{{ url_for('health_inequalities') }}">Link</a></li>
                </ul>
            </div>

            <br>




            
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
